<div class="container">

	<h1>Contacto</h1>

	<div id="texto" #textos>
		<p appResaltado>
			Esta es la página de contacto puedes enviarnos cualquier duda.
		</p>
	</div>

<!-- 	<br>

	<input type="text" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()">
	<button (click)="cargarSlider()">Cargar slider</button>
	<button (click)="resetearSlider()">Resetear slider</button>
	<button (click)="estadoCaptions()">
		<span *ngIf="!captions">Mostrar etiquetas</span>
		<span *ngIf="captions">Ocultar etiquetas</span>
	</button>
	

	<div style="margin: 0 auto" *ngIf="anchuraToSlider">
		<slider [anchura]="anchuraToSlider"
				[etiquetas]="captions"
				(conseguirAutor)="getAutor($event)"
		></slider>
	</div>

<p *ngIf="autor">
	{{ autor.nombre + " " + autor.website  }}
</p> -->


</div>